:root{
    --light-color: #296647;
    --dark-color: #143324;
    --click-color: #2d8a5b;
    --click-hover: #136d40;
    --text-hover: #f5fd9b;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Main banner */

.ban a {
    text-decoration: none;
    color: white;
}

.ban{

    display: flex;
    justify-content: space-between;
    
}

header{
    background: linear-gradient(to bottom, var(--light-color), var(--dark-color));
    text-align: center;
    color: white;
    height: 120px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text{
    text-align: left;
    padding-left: 10px;
}

.title-text h3{
    font-style: italic;
    color: #ccc;
}

.title img {
    width: 100px;
    height: 100px;
    padding-top: 0;
}

.profil-links{
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.profil-links div{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s linear 0s;
    padding-left: 5px;
    padding-right: 5px;
}

.profil-links .login .icon{
    width: 17px;
    height: 17px;
    padding-left: 4px;
    padding-right: 4px;
    content: url('media/icons/account/account.png'); 
    
}
.profil-links .profil .icon{
    width: 17px;
    height: 17px;
    padding-left: 4px;
    padding-right: 4px;
    content: url('media/icons/account/account.png'); 
    
}
.profil-links .admin .icon{
    width: 26px;
    height: 26px;
    content: url('media/icons/gear/gear.png'); 
    
}
.profil-links .logout .icon{
    width: 25px;
    height: 25px;
    padding-left: 1px;
    content: url('media/icons/logout/logout.png'); 
    
}

.profil-links a {
    text-decoration: none;
    color: white;
    transition: all .15s linear 0s;
}

.profil-links a:hover {
    color: var(--text-hover);
}

.profil-links .login:hover .icon{
    content: url('media/icons/account/account.gif'); 
    
}
.profil-links .profil:hover .icon{
    content: url('media/icons/account/account.gif'); 
    
}
.profil-links .admin:hover .icon{
    content: url('media/icons/gear/gear.gif'); 
    
}
.profil-links .logout:hover .icon{
    content: url('media/icons/logout/logout.gif'); 
    
}

/* Navigation bar (présentation and rechercher) */

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

.navbar a{
    position: relative;
    width: 50%;
    bottom: 10px;
    background-color: var(--click-color);
    border-radius: 50px;
    text-decoration: none;
    color: white;
    box-shadow: -5px 6px 0 #0f251a;
    transition: all .15s linear 0s;
}

.navbar a:hover{
    background-color: var(--click-hover);
    color: var(--text-hover);
    box-shadow: -5px 5px 0 #0f251a;
    bottom: 9px;
}
.navbar a:active{
    background-color: #206140;
    color: #ecfa25;
    box-shadow: -5px 4px 0 #0f251a;
    bottom: 8px;
    
}

.navbar a div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s linear 0s;
}

.search-button .icon{
    width: 45px;
    height: 45px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    content: url('media/icons/compass/compass.png'); 
}
.search-button:hover .icon{
    content: url('media/icons/compass/compass.gif');
}

.pres-button .icon{
    width: 50px;
    height: 50px;
    content: url('media/icons/info/info.png'); 
}
.pres-button:hover .icon{
    content: url('media/icons/info/info.gif');
}

.home-button .icon{
    width: 30px;
    height: 30px;
    padding: 10px;
    content: url('media/icons/home/home.png'); 
}
.home-button:hover .icon{
    content: url('media/icons/home/home.gif');
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    height: 13px;
    background: linear-gradient(to bottom, var(--light-color), var(--dark-color));
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    width: 40%;
}

/* Main index.php selector */

.selector {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.selector a {
    flex: 1;
    width: 20%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    transition: flex 1s ease;
    text-align: center;
    padding-right: 0;
}
.selector a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.selector a:hover {
    flex: 2;
}

.selector-text {
    position: relative;
    bottom: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    padding-left: 20%;
    padding-right: 20%;
    
}

.selector-text h1 {
    position: relative;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px
    
}

.selector-text p {
    position: relative;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px
}

.selector a:hover .selector-text {
    gap: 50px;
    bottom: 70%;
    transition: all 1s ease;
    
}

.selector a:not(:hover) .selector-text {
    gap: 0px;
    bottom: 60%;
    transition: all 1s ease
}

.selector a:hover .selector-text p {
    opacity: 100%;
    transform: translateY(0);
    transition: all 1s ease;
    
}
.selector a:not(:hover) .selector-text p {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease;
}


/* presentation.php */

.pres-body {
    background-image: url('media/backgrounds/forest2.jpg');
    background-size: cover;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.search-overlay {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: perspective(1000px);
    transition: transform 0.1s ease-out;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.search-section h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.search-section p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
}


.search-form {
    display: flex;
    justify-content: center;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: var(--click-color);
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
}


.pres-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.pres-card * {
    padding: 10px;
}
.pres-card {
    width: 50%;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: white;
    text-align: center;
}

/* search.php */




/* admin.php */

.admin-body{
    background-image: url(media/backgrounds/gears.jpg);
    background-repeat: repeat;
    background-size: 450px 450px;
}

.admin-overlay {
    background: rgba(0, 10, 2, 0.9);
    min-height: 100vh;
    height: auto;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.admin-content{
    background: #e2e2e2;
    padding: 20px;
    border-radius: 20px;
    

}

.admin-table {
    border-collapse: collapse;
    margin: 25px 0;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}
.admin-table thead tr {
    background-color: var(--click-color);
    color: #ffffff;
    text-align: left;
}
.admin-table th, .admin-table td {
    padding: 12px 15px;
}
.admin-table tbody tr {
    border-bottom: 5px solid var(--click-color);
}

.admin-table tbody tr:nth-of-type(even) {
    background: rgba(0,0,0,0.1)
}

.admin-table tbody tr:last-of-type {
    border-bottom: 10px solid var(--click-color);
}

.td-button div {
    display: flex;
    flex-direction: column;
}

.td-button{
    align-items: center;
}

.admin-table button {
    background-color: var(--click-color);
    border: none;
    color: white;
    padding: 10; 
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 12px; 
    transition: all 0.3s;
}

.admin-table button:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
    transform: scale(1.1);
}

.td-button button{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    color: white;
    
}

.mod-b .icon{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
    padding-right: 1px;
    content: url('media/icons/edit/edit.png'); 
}
.add-b .icon{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
    padding-right: 3px;
    content: url('media/icons/money/money.png'); 
}
.reset-b .icon{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
    padding-right: 2px;
    content: url('media/icons/reset/reset.png'); 
}
.ban-b .icon{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
    content: url('media/icons/ban/ban.png'); 
}
.del-b .icon{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
    content: url('media/icons/bin/bin.png'); 
}


.mod-b:hover .icon{
    content: url('media/icons/edit/edit.gif'); 
}
.add-b:hover .icon{
    content: url('media/icons/money/money.gif'); 
}
.reset-b:hover .icon{
    content: url('media/icons/reset/reset.gif'); 
}
.ban-b:hover .icon{
    content: url('media/icons/ban/ban.gif'); 
}
.del-b:hover .icon{
    content: url('media/icons/bin/bin.gif'); 
}


/* profil.php */



.profil-page-overlay {
    background-image: url(media/backgrounds/forest3.jpg);
    background-size: cover;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.profil-page-content{
    background: #e2e2e2;
    padding: 20px;
    border-radius: 20px;
    

}

.profil-page-table {
    border-collapse: collapse;
    margin: 25px 0;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}
.profil-page-table thead tr {
    background-color: var(--click-color);
    color: #ffffff;
    text-align: left;
}
.profil-page-table th, .profil-page-table td {
    padding: 12px 15px;
}
.profil-page-table tbody tr {
    border-bottom: 1px solid var(--click-color);
}

.profil-page-table tbody tr:nth-of-type(even) {
    background: rgba(0,0,0,0.1)
}

.profil-page-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--click-color);
}

.profil-page-table button {
    background-color: var(--click-color);
    border: none;
    color: white;
    padding: 10; 
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 12px; 
    transition: all 0.3s;
}

.profil-page-table button:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
    transform: scale(1.1);
}
.profil-page-table button{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    color: white;
    
}

/* search.php */

.search-content{
    padding-bottom: 50px;
    background-image: url(media/backgrounds/forest4.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.travel-form {
    width: 90%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: white;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input, select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-btn {
    background-color: var(--click-color);
    border: none;
    color: white;
    padding: 10; 
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 12px; 
    transition: all 0.3s;
}
.submit-btn:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
    transform: scale(1.1);
}
.results-container {
    width: 70%;
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s;
    
}

.results-container:hover {
    transform: scale(1.05);
}

.result {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s;

}

.result div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* signup.php and login.php*/

.registration-content{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(media/backgrounds/island.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.registration-content h1, .login-content h1, .notfound-content h1{
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.registration-content p, .login-content p, .notfound-content p{
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    color: white;
}


.registration-form .form-label {
    margin-bottom: 10px;
}

.registration-form div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.registration-form {
    width: 30%;
    border-radius: 30px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    color: white;
}

.registration-form input, .registration-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.registration-form input[type="radio"] {
    width: auto;
    margin-right: 5px;
    margin-bottom: 10px;
}

.login-content{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(media/backgrounds/island2.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stay-conected{
    display: flex;
    justify-content: space-evenly;
}

.small-link {
    text-decoration:underline;
    color: white;
    transition: all .15s linear 0s;
    padding: 20px;
}

.small-link:hover {
    color: var(--text-hover);
}

.profil-reset-b div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profil-reset-b button {
    background-color: var(--click-color);
    border: none;
    color: white;
    padding: 10; 
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 12px; 
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profil-reset-b button:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
    transform: scale(1.1);
}  


.pages-nav div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-nav button {
    background-color: var(--click-color);
    border: none;
    color: white;
    padding: 10; 
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 12px; 
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pages-nav button:hover {
    background-color: var(--click-hover);
    color: var(--text-hover);
    transform: scale(1.1);
}  

.notfound-content{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.notfound-content .small-link {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* trips pages */

.trip-body {
    background-image: url('media/backgrounds/forest2.jpg');
    background-size: cover;
    height: 100vh;
}
.trip-content {
    display: flex;
    justify-content: center;
    
}
.trip-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.trip-container {
    width: 70%;
    margin-top: 50px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
}

.trip {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.trip-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stages {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.stage {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 30px;
}

.stage div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}